<router-outlet></router-outlet>



<div class="bg-gray-100 flex">
  <!-- Sidebar -->
  <div class="bg-gray-800 text-gray-100 w-64 flex-none min-h-screen">
      <div class="p-6">
          <h1 class="text-2xl font-bold">Admin</h1>
          <ul class="mt-6">
              <li class="mb-4">
                  <a href="#" class="block text-gray-300 hover:bg-gray-700 px-4 py-2 rounded">Dashboard</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="block text-gray-300 hover:bg-gray-700 px-4 py-2 rounded">User Management</a>
              </li>
                    <li class="mb-4">
                  <a href="#" class="block text-gray-300 hover:bg-gray-700 px-4 py-2 rounded">Logout</a>
              </li>
          </ul>
      </div>

  </div>

  <!-- Content -->
  <div class="flex-1 m-6">
      <div class="container mx-auto px-4 py-8">
          <h1 class="text-3xl font-semibold mb-4">User Management</h1>
          <div class="-mx-4 overflow-x-auto">
              <table class="min-w-full bg-white rounded-lg overflow-hidden">
                  <thead class="bg-gray-200 text-gray-700">
                      <tr>
                          <th class="py-2 px-4">Name</th>
                          <th class="py-2 px-4">Username</th>
                          <th class="py-2 px-4">Email</th>
                          <th class="py-2 px-4">Actions</th>
                      </tr>
                  </thead>
                  <tbody class="text-gray-600">
                      <!-- Dummy Content -->
                      <tr>
                          <td class="py-3 px-4 text-center">John Doe</td>
                          <td class="py-3 px-4 text-center">johndoe</td>
                          <td class="py-3 px-4 text-center">johnexample.com</td>
                          <td class="py-3 px-4 text-center">
                            
                              <button class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg">Block</button>
                          </td>
                      </tr>
                     
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
 





