<div class="bg-gray-100 min-h-screen flex flex-col">
  <div class="container max-w-md mx-auto flex-1 flex flex-col items-center justify-center px-3">
      <div class="bg-white px-4 py-4 rounded-lg shadow-md text-black w-96">
          <h1 class="mb-6 text-3xl text-center font-bold">Log In</h1>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input
              type="text"
              class="block border border-gray-300 w-full p-3 rounded mb-4 focus:outline-none"
              name="email"
              formControlName="email"
              placeholder="Email" />
              <div *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-red-500">
                <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                <div *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
                
              </div>
              
              
          
            <input
              type="password"
              class="block border border-gray-300 w-full p-3 rounded mb-4 focus:outline-none"
              name="password"
              formControlName="password"
              placeholder="Password" />
              <div *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-red-500">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                <div *ngIf="loginForm.get('password')?.errors?.['pattern']">Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, one number, and one special character </div>
              </div>
              
          
            <button
              type="submit"
              [disabled]="loginForm.invalid"
              class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 rounded focus:outline-none focus:shadow-outline"
            >Log In</button>
          </form>
          
         
  </div>
</div>
