
<div class="flex justify-between ">
  <button class="md:hidden p-4" (click)="toggleSidebar()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <!-- Sidebar -->
  <app-sidebar [ngClass]="{ 'block': sidebarOpen, 'hidden': !sidebarOpen }" (close)="sidebarOpen = false" class="fixed inset-0 z-40 md:relative md:block md:z-auto"></app-sidebar>
  <div class="flex-1 p-8 ml-64 pr-80">
    <div class="max-w-3xl m-8 justify-center mb-8 bg-white rounded-lg shadow-md">
      <div class="bg-green-500 px-4 py-3 rounded-t-lg">
        <h2 class="text-white font-bold">New Post</h2>
      </div>
      <div class="p-4">
        <label for="fileInput"
          class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded cursor-pointer">
          Choose files
          <input id="fileInput" type="file" class="hidden" multiple #fileInput (change)="onFilesSelected($event)">
        </label>
        <button *ngIf="imageChangedEvents.length" (click)="cancelImageSelection()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          Cancel
        </button>
    
        <div *ngIf="imageChangedEvents.length > 0" class="carousel">
          <div *ngFor="let imageEvent of imageChangedEvents; let i = index">
            <image-cropper *ngIf="currentImageIndex === i"
              [imageChangedEvent]="imageEvent" 
              [maintainAspectRatio]="true" 
              [aspectRatio]="4 / 3"
              (imageCropped)="imageCropped($event, i)" 
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()">
            </image-cropper>
          </div>
          <button (click)="prevImage()" [disabled]="currentImageIndex === 0">Previous</button>
          <button (click)="nextImage()" [disabled]="currentImageIndex === imageChangedEvents.length - 1">Next</button>
        </div>
    
        <textarea placeholder="Write a caption..." [(ngModel)]="description"
          class="w-full border border-gray-300 rounded-md p-2"></textarea>
        <button (click)="uploadPost(fileInput )"
          class="mt-4 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300">Upload</button>
      </div>
    </div>
    



    <app-posts></app-posts>



  </div>


  <app-suggestions class="hidden md:block"></app-suggestions>

</div>



